.header {
  @extend %flexbox;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-block-end: 3.2rem;

  &__navigation {
    display: none;

    &-list--item {
      @extend %text-body;

      a {
        color: $color-gunmetal;

        &:hover {
          color: $color-light-vermillion;
        }
      }
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .header {
    margin-block-end: 6.1rem;

    &__menu-image {
      display: none;
    }

    &__navigation {
      display: flex;
      gap: 4rem;
    }
  }
}
