.main {
  max-width: 111rem;
  margin-inline: auto;

  &__image {
    width: 100%;
    margin-block-end: 2.4rem;
  }

  &__heading {
    @extend %text-heading-l;
    font-weight: 800;
    text-wrap: auto;
    color: $color-dark-space-blue;
    margin-block-end: 1.6rem;
  }

  &__description {
    @extend %flexbox;
    align-items: flex-start;
    gap: 2.4rem;
    margin-block-end: 6.4rem;

    p {
      @extend %text-body;
      color: $color-gunmetal;
    }

    a {
      @include typography(1.4rem, 700, 1.71, 0.438rem);
      background-color: $color-light-vermillion;
      width: 18.5rem;
      height: 4.8rem;
      text-align: center;
      color: $color-dark-space-blue;
      text-transform: uppercase;
      padding-block: 1.2rem;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $color-dark-space-blue;
        color: $color-white;
      }
    }
  }

  .aside {
    background-color: $color-dark-space-blue;
    color: $color-white;
    padding: 2.4rem 2rem;
    margin-block-end: 6.4rem;

    &__heading {
      @extend %text-heading-m;
      color: $color-yellow;
      margin-block-end: 3.5rem;
    }

    &__sections {
      @extend %flexbox;
      align-items: flex-start;
      gap: 2.9rem;
    }

    &__section {
      h3 {
        @extend %text-heading-s;
        margin-block-end: 0.8rem;

        &:hover {
          cursor: pointer;
          color: $color-yellow;
        }
      }

      p {
        @extend %text-body;
        color: $color-silver;
        text-wrap: auto;
      }

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-gunmetal;
        margin-block-start: 3.1rem;
      }
    }
  }

  .intro {
    @extend %grid;
    grid-template-columns: repeat(auto-fit, minmax(min(34.3rem, 100%), 1fr));
    gap: 3.2rem 3rem;
    justify-items: start;

    &__article {
      @extend %grid;
      grid-template-columns: auto 2fr;
      place-items: start; /* place-items is combined version of justify-items and align-items */
      column-gap: 2.4rem;

      img {
        width: 100%;
      }
    }

    &__description {
      p {
        &:first-of-type {
          @extend %text-heading-m;
          color: $color-light-vermillion;
          margin-block-end: 1.2rem;
        }

        &:last-of-type {
          @extend %text-body;
          color: $color-gunmetal;
        }
      }

      h4 {
        @extend %text-heading-xs;
        color: $color-dark-space-blue;
        margin-block-end: 0.9rem;

        &:hover {
          color: $color-light-vermillion;
          cursor: pointer;
        }
      }
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem 3rem;

    &__heading {
      font-size: 4.8rem;
    }

    picture {
      grid-column: 1 / 3;
    }

    &__image,
    .aside {
      margin-block-end: auto;
    }

    &__image {
      height: 100%;
    }

    &__description {
      justify-content: flex-start;
      gap: 2.9rem;
      margin-block-end: calc(7.1rem - 2.8rem);
    }

    .aside {
      grid-column: 3;
      grid-row: 1 / 3;
      padding: 3.2rem 2.4rem;
      min-height: 51.1rem;
    }

    .intro {
      grid-column: 1 / -1;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .main {
    &__heading {
      font-size: 5.6rem;
    }
  }
}
