$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";

$color-white: #fffdfa;
$color-dark-space-blue: #00001a;
$color-gunmetal: #53607a;
$color-light-vermillion: #f15d51;
$color-silver: #c5c6ce;
$color-yellow: #e9aa52;
